stress detector/Stress-Level-Predictor/venv/Lib/site-packages
stress detector/Stress-Level-Predictor/venv/Scripts
stress detector/Stress-Level-Predictor/venv/pyvenv.cfg
stress detector/Stress-Level-Predictor/venv/Include